@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = null;
}
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuperMarketSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sb-admin-2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuperMarketSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="wrapper">


        <div id="content-wrapper" class="d-flex flex-column">
            <main role="main" class="container-fluid py-3">
                
                <partial name="_StatusMessage" for="StatusMessage" />
                <div class="row">
                    <div class="col-md-6">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
                            <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
                            <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
                            @if (hasExternalLogins)
                            {
                                <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
                            }
                            <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
                            <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
                        </ul>
                        <form id="profile-form" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                                <label asp-for="Username" class="form-label"></label>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                        </form>
                    </div>
                </div>

            </main>
            <footer role="main" class="sticky-footer bg-white custom-footer">
                <div>
                    <div class="text-center">
                        &copy; 2023 - SuperMarketSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>


