@model IEnumerable<SuperMarketSystem.DTOs.CustomerProductDTO>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/CustomerLayout/_Layout.cshtml";
}

@*<div class="row m-5">
    @foreach(var item in Model)
    {
        <div class="card col-2" style="width: 18rem;">
            <img class="card-img-top" decoding="async" src="@("~/image/"+item.ImageName.First())" asp-append-version="true" alt="Card image cap">
               <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Brand: @item.Brand.Name</p>
                <p class="card-text">Category: @item.Category.Name</p>
                <p class="card-text">Price: @item.UnitCost $</p>

                 <p>
                    Rate: <span id="averageRating">
                       
                    </span><br/>
                    <span class="star {@item.Id}">&#9733;</span>
                    <span class="star {@item.Id}">&#9733;</span>
                    <span class="star {@item.Id}">&#9733;</span>
                    <span class="star {@item.Id}">&#9733;</span>
                    <span class="star {@item.Id}">&#9733;</span>
                </p>
 
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>*@

<style>
    .star {
        color: #ddd;
        font-size: 24px;
    }

    .filled {
        color: #f90;
    }

    .half-filled {
        position: relative;
        display: inline-block;
    }

    .half-filled:after {
        content: '\2605';
        color: #f90;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        overflow: hidden;
    }
</style>

