@model SuperMarketSystem.DTOs.CustomerProductDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/CustomerLayout/_Layout.cshtml";
}
<div class="cardS card-container">
   <div class="row">
       <div class="col-5">
            @if (Model.ImageName.Count() != 0)
            {
                <div class="m-3">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner align-items-center">
                            <div class="carousel-item active">
                                <img decoding="async" src="@("~/image/"+Model.ImageName.First())" height="450px" width="450px" asp-append-version="true" class="d-block mx-auto" />
                            </div>
                            @foreach (var item in Model.ImageName)
                            {
                                @if (item.Equals(Model.ImageName.First()))
                                {
                                    continue;
                                }
                                <div class="carousel-item">
                                    <img decoding="async" src="@("~/image/"+item)" asp-append-version="true" height="450px" width="450px" class="d-block mx-auto" />
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            }
       </div>
       <div class="col-7 p-1">
           <h2 class="my-3">@Model.Name</h2>
           <div class="row my-3">
                <div class="col-4">
                    <p>
                        Rate: <span id="averageRating" data-average-rating="@Model.RateStar">@Model.RateStar</span>
                        <span class="star fs-15">&#9733;</span>
                        <span class="star fs-15">&#9733;</span>
                        <span class="star fs-15">&#9733;</span>
                        <span class="star fs-15">&#9733;</span>
                        <span class="star fs-15">&#9733;</span>
                    </p>
                </div>
                <div class="col-4">
                    <p>
                        Number Of Rate: @Model.NumberOfRate
                    </p>
                </div>
                <div class="col-4">
                    <p>
                        Number Of Orde: @Model.NumberOfOrder
                    </p>
                </div>
           </div>
           <div class="bg-light text-danger p-4 my-3">
               <h3>@Model.UnitCost $</h3>
           </div>
           <div class="my-3">
                <h4>Category: @Model.Categories.Name</h4>
           </div>
           <div class="my-3">
                <h4>Brand: @Model.Brand.Name</h4>
           </div>
            <div class="my-3">
                <button onclick="decreaseValue()" class="w-32">-</button>
                <input type="number" id="valueField" value="0" min="0" max="10" class="m--2 w-50p">
                <button onclick="increaseValue()" class="w-32">+</button>
            </div>
            <button class="btn text-danger border-danger bg-light-red mt-3">Add To Cart</button>
       </div>
   </div>
</div>

<style>
    .star {
        color: #ddd;
        font-size: 24px;
    }

    .fs-15{
        font-size: 15px !important;
    }

    .w-50p{
        width: 50px !important;
        height: 32px;
    }

    .w-32{
        width: 32px;
        height: 32px;
    }

    .m--2{
        margin: -5px;
    }

    .filled {
        color: #f90;
    }

    .bg-light-red{
        position: relative;
        overflow: visible;
        outline: 0;
        background: rgba(208,1,27,.08);
    }

    .half-filled {
        position: relative;
        display: inline-block;
    }

        .half-filled:after {
            content: '\2605';
            color: #f90;
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            overflow: hidden;
        }
</style>